#contenedorPerfilDos {
  margin-top: 10px;
  background-color: #FFF;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
}

#usuario {
  width: 90px;
  height: 90px;
}

#datosUsuario {
  color: #4a4a4a;
  margin-top: 20px;
}

#datosNombre {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 600;
}
.botonAdd{
  background-color: #00ADA7 ; 
  color: white ;
  width: 100px ; 
  height: 36px ; 
  border-radius: 6px; 
  font-size: 14px;
  font-weight: 500; 
  margin-top: 25px;
}