.contenedorPublicacion {
  margin-top: 10px;
  background-color: rgba(233, 213, 207, 0.712);
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 14px;
  border-radius: 10px;
  border:solid 2px #E2C5BD;
}

.userName {
  font-size: 18px;
  font-weight: 600;
  color: #4a4a4a;
  margin-bottom: 5px;
}

.publicacion {
  font-size: 14px;
  font-weight: 400;
  color: #4a4a4a;
  width: 100%;
  max-width: 700px;
}

p{
  margin-left: 0px!important;
}
