.topBox {
    background-color: #00ADA7;
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    overflow: hidden;
    z-index: 100;
    /* z-index es el orden de capas */
}

#logo2{
    width: 220px;
    height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}